{{ form_start(form) }}
    {{ form_widget(form) }}
    {% block formactions %}
        <div class="sonata-ba-form-actions well well-small form-actions">
            {% block sonata_form_actions %}

                {% block btn_create %}
                    <button type="submit" class="btn btn-success" name="btn_create"><i class="fa fa-plus-circle"
                                                                                       aria-hidden="true"></i> {{ button_label|default('Save') }}
                    </button>
                {% endblock %}
                {% block btn_update_and_edit %}
                    <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save"
                                                                                                aria-hidden="true"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endblock %}
                {% block btn_create_and_edit %}
                    <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save"
                                                                                                aria-hidden="true"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endblock %}
                {% block btn_create_and_create %}
                    <button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle"
                                                                                                  aria-hidden="true"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}
                    </button>
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock formactions %}
{{ form_end(form) }}
{{  form }}

{% trans with {'%test%': 'Hahha'} from 'app' %} %test%{% endtrans %}
