{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block title %}Product index{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary" style="margin-bottom: 100px;">
            <div class="box-body table-responsive no-padding">

                <table class="table table-bordered table-striped table-hover sonata-ba-list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>
                                <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                                <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>


            </div>
            <div class="box-footer">
                <div class="form-inline clearfix">
                    <a href="{{ path('app_product_new') }}">Create new</a>

                </div>

            </div>
        </div>


    </div>

{% endblock %}
